/* STYLES MARGINS OF PAGE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CONTAINER SPACING */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOGO TEXT STYLES */
.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

/* NAV LINKS ON LARGE PAGE STYLES */
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/* DON'T SHOW BURGER ON LARGE PAGE */
.burger {
    display: none;
}

/* BURGER STYLING */
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* MAKE NAV LINKS SMALLER @ 1024 PX */
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}

/* SHOW BURGER MENU */
@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

/* NAV LINKS FADE IN BURGER MENU */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* BURGER ANIMATION TO X */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}